# Name: KneeCT_Analyzer
# Author: Yasuhiro Take
# Version: 0.0-SNAPSHOT
# Date: 2017/12/17
# Requires: ImageJ 1.5?

Plugins>KneeCT Analyzer, "Create Models", KneeCT_Analyzer("Model")
Plugins>KneeCT Analyzer, "Quadrant Analysis", KneeCT_Analyzer("Quadrant")
#Plugins, "KneeCT Analyzer", KneeCT_Analyzer("")

